/*
 * Copyright (c) 2024 Arrow Electronics.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <infineon/cat1a/mpns/CY8C624ABZI_S2D44.dtsi>
#include <infineon/cat1a/system_clocks.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "CY8CKIT-062S2-AI PSOC 6 AI Evaluation Kit";
	compatible = "infineon,cy8ckit_062s2_ai", "cypress,PSOC6";

	chosen {
		zephyr,console = &uart5;
		zephyr,shell-uart = &uart5;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	aliases {
		led0 = &user_led0;
		sw0 = &user_bt;
		watchdog0 = &watchdog0;
		pressure-sensor = &dps368;
		accel0 = &bmi270;
	};

	leds {
		compatible = "gpio-leds";

		user_led0: led_0 {
			label = "LED_0";
			gpios = <&gpio_prt5 3 GPIO_ACTIVE_HIGH>;
		};

		user_led1: led_1 {
			label = "LED_1";
			gpios = <&gpio_prt5 4 GPIO_ACTIVE_HIGH>;
		};
	};

	gpio_keys {
		compatible = "gpio-keys";

		user_bt: button_0 {
			label = "SW_0";
			gpios = <&gpio_prt5 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_0>;
		};
	};
};

&fll0 {
	status = "okay";
	clock-frequency = <100000000>;
};

&clk_hf0 {
	clock-div = <1>;
	clocks = <&fll0>;
};

/* CM4 core clock = 100MHz
 * &fll clock-frequency / &clk_hf0 clock-div / &clk_fast clock-div = 100MHz / 1 / 1 = 100MHz
 */
&clk_fast {
	clock-div = <1>;
};

/* CM0+ core clock = 50MHz
 * &fll clock-frequency / &clk_hf0 clock-div / &clk_slow clock-div = 100MHz / 1 / 2 = 50MHz
 */
&clk_slow {
	clock-div = <2>;
};

/* PERI core clock = 100MHz
 * &fll clock-frequency / &clk_hf0 clock-div / &clk_peri clock-div = 100MHz / 1 / 1 = 100MHz
 */
&clk_peri {
	clock-div = <1>;
};

/*
 * HF1 clock = 8 MHz (IMO via path_mux1) used as AUDIOSS PDM clock source.
 * With mclkDiv=1/2 => MCLKQ = 4 MHz.
 * PDM_CKO to microphone pins = 4 MHz (within IM72D128 1-4 MHz range).
 * sincDecRate is calculated at runtime from HF1 frequency and requested Fs.
 */
&path_mux1 {
	status = "okay";
};

&clk_hf1 {
	clock-div = <1>;
	status = "okay";
};

&gpio_prt5 {
	status = "okay";
};

&gpio_prt10 {
	status = "okay";
};

/* UART connected to KitProg3 */
uart5: &scb5 {
	compatible = "infineon,uart";
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&p5_1_scb5_uart_tx &p5_0_scb5_uart_rx>;
	pinctrl-names = "default";
};

uart1: &scb1 {
	compatible = "infineon,uart";
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&p10_0_scb1_uart_rx &p10_1_scb1_uart_tx>;
	pinctrl-names = "default";
};

i2c0: &scb0 {
	compatible = "infineon,i2c";
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	pinctrl-0 = <&p0_2_scb0_i2c_scl &p0_3_scb0_i2c_sda>;
	pinctrl-names = "default";

	dps368: dps368@77 {
		compatible = "infineon,dps368", "infineon,dps310";
		status = "okay";
		reg = <0x77>;
	};

	bmi270: bmi270@68 {
		compatible = "bosch,bmi270";
		status = "okay";
		reg = <0x68>;
	};
};

&p0_2_scb0_i2c_scl {
	drive-open-drain;
	input-enable;
};

&p0_3_scb0_i2c_sda {
	drive-open-drain;
	input-enable;
};

&p5_1_scb5_uart_tx {
	drive-push-pull;
};

&p5_0_scb5_uart_rx {
	input-enable;
};

&p10_1_scb1_uart_tx {
	drive-push-pull;
};

&p10_0_scb1_uart_rx {
	input-enable;
};

&watchdog0 {
	status = "okay";
};

/*
 * DMA1 (DW1) channel 26 is dedicated to PDM0 RX via 1-to-1 trigger
 * TRIG_OUT_1TO1_4_PDM0_RX_TO_PDMA1_TR_IN26.
 */
&dma1 {
	status = "okay";
};

/*
 * PDM microphones: Infineon IM72D128V01XTMA1 (XENSIV MEMS digital PDM).
 * U4 (left):  SELECT=GND  => PDM data on falling edge of PDM_CLK.
 * U5 (right): SELECT=VCC  => PDM data on rising edge of PDM_CLK.
 * Both share the PDM bus on P10.4 (PDM_CLK) and P10.5 (PDM_DATA).
 * Powered from VCC_3V3 rail; microphones placed ~27 mm apart.
 */
dmic_dev: &audioss0_pdm {
	status = "okay";
	pinctrl-0 = <&p10_4_audioss0_pdm_clk &p10_5_audioss0_pdm_data>;
	pinctrl-names = "default";
	hf-clock-idx = <1>;
	dmas = <&dma1 26>;
	dma-names = "rx";
};

&p10_4_audioss0_pdm_clk {
	drive-push-pull;
};

&p10_5_audioss0_pdm_data {
	input-enable;
};
